*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#carousel-container {
    margin-top: 3em;
    width: 40vw;
}

.tests {
    margin-top: 3em;
    width: 80vw;
    height: 30vh;

    border: solid;
}

