*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#carousel-container {
    margin-top: 3em;
    width: 40vw;
}

.tests {
    margin: 2em 0;
    width: 80vw;
    height: 30vh;

    border: solid;
}


#backtotop {
    display: none;
    position: fixed; 
    bottom: 10%; 
    right: 4%; 
    z-index: 99; 
    color: white; 
    cursor: pointer;
    padding: 15px; 
    border-radius: 10px; 
    font-size: 18px;
    opacity: 0.8;
}

#backtotop:hover {
    background-color: #555;
}


@media screen and (max-width: 700px) {
    #carousel-container {
        width: 80vw;
    }

    #backtotop {
        bottom: 4%; 
    }
}

